
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administration</h2>

<ul>
	<li>@Html.ActionLink("Authors", "Author")</li>
	<li>@Html.ActionLink("Books", "Book")</li>
</ul>

