@{ 
	Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book Shop - About</title>
	</head>
	<body>
		<h1>About Book Shop</h1>
	</body>
</html>